[class^='col'] {
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
    padding: 1rem;
    text-align: center;
}

.col > .row > [class^='col'] {
    background-color: #01e165;
    border: 1px solid #006cfa;
}