main {
    background-color: orange;
}

[class^='col'] {
    padding: 1rem;
    height: calc(100vh / 13.5);
}

.pad-0 {
    padding: 0;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.skin {
    background-color: #fcd5b4;
}

.blue {
    background-color: #0071c1;
}

.brown {
    background-color: #974806;
}

.container {
    padding: 1rem 0;
}